# Entornos virtuales
venv/
.venv/
env/
.env/

# Archivos de base de datos de desarrollo
*.db
*.sqlite3

# Archivos de configuración y secretos
.env
*.env
rxconfig.local.py

# Directorios de compilación y caché de Reflex
.web/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos del sistema operativo y editores
.DS_Store
.vscode/
.idea/

# Recursos externos que no deben estar en el repo
# assets/external/ # Descomentar si no quieres versionar estos assets
